@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#__next {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}